* {
  font-family: "Inter", sans-serif;
  background-color: #4a4a49;
  color: #d0d0d0;
}
body {
  margin: 0;
}

input {
  font-size: medium;
  background-color: #d0d0d0;
  color: #4a4a49;
  border: none;
}

.navbar {
  overflow: hidden;
  background-color: #192746;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #d0d0d0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #192746;
  border: none;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

.navbar button {
  float: right;
  display: block;
  color: #c10b25;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #192746;
  border: none;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

.navbar-logo {
  background-color: #192746;
  float: right;
  height: 30px;
  margin: 10px 10px 10px 10px;
}
.navbar a:hover,
.navbar button:hover {
  background: #d0d0d0;
  color: #4a4a49;
}

.main {
  margin-top: 60px;
  margin-left: 40px;
}

.row {
  display: flex;
}

.dropdown-list {
  display: none;
  position: absolute;
  background: #d0d0d0;
  border: 1px solid #d0d0d0;
  max-height: 200px;
  overflow-y: auto;
  width: 20%;
  z-index: 1000;
}
.dropdown-item {
  padding: 8px 12px;
  cursor: pointer;
}
.dropdown-item:hover {
  background: #d0d0d0;
  color: #4a4a49;
}

.bom-tree {
  margin-top: 10px;
  margin-left: 10px;
  flex: 50%;
}

.issues-view {
  margin-top: 10px;
  flex: 50%;
}

.bom-tree-item {
  margin-top: 2px;
}

.warn {
  color: #c10b25;
}

.good {
  color: green;
}

.select-column {
  margin-top: 10px;
  margin-left: 10px;
  flex: 50%;
}

.warnings-column {
  margin-top: 10px;
  flex: 50%;
}
