<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <title>Exact BOM Checker App</title>
  </head>

  <body>
    {% block content %}
    <div class="navbar">
      <a href="/">🏠 Home</a>
      <img
        class="navbar-logo"
        src="{{ url_for('static', filename='images/Logo-Rotar-lichtgrijs.png') }}"
      />
      <form method="POST">
        <button name="refresh" value="1">🔄 Refresh from SQL Server</button>
      </form>
    </div>
    <div class="main">
      <div class="row">
        <div class="select-column">
          <h2>Select the root item to start analysis....</h2>
          <form method="POST" autocomplete="off">
            <input
              type="text"
              name="root"
              id="root"
              placeholder="Type to search root items..."
              onkeyup="filterFunction()"
              onfocus="showDropdown()"
              onblur="hideDropdown()"
            />
            <div id="dropdown-list" class="dropdown-list">
              {% for r in roots %}
              <div class="dropdown-item" onclick="selectRoot('{{ r }}')">
                {{ r }}
              </div>
              {% endfor %}
            </div>
          </form>
        </div>
        <div class="warnings-column">
          <h2>
            ... Or choose one from list of wrong BOMs ({{
            problematic_boms|length }} found)
          </h2>
          <div class="issues-container">
            {% for bom in problematic_boms %}
            <form method="POST" style="margin: 0">
              <input type="hidden" name="root" value="{{ bom.root_item }}" />
              <button type="submit" class="issue-item">
                <span>{{ bom.root_item }}</span>
                <div class="issue-details">
                  <div class="issue-metric">
                    <span>levels:</span>
                    <span
                      class="{% if bom.max_level > 7 %}warn{% else %}good{% endif %}"
                    >
                      {{ bom.max_level }}
                    </span>

                    <span>cc violations:</span>
                    <span
                      class="{% if bom.violations != 0 %}warn{% else %}good{% endif %}"
                    >
                      {{ bom.violations }}
                    </span>
                  </div>
                </div>
              </button>
            </form>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
    <div class="bottom-bar">
        <span>version: {{ version }}</span>
    </div>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/index.js')}}"
    ></script>
  </body>
</html>
